name: Build Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Check out code
      uses: actions/checkout@v5

    - name: Setup pnpm
      uses: pnpm/action-setup@v4

    - name: Setup Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '22'
        cache: "pnpm"

    - name: Install Dependencies
      run: pnpm install --frozen-lockfile

    - name: Lint
      run: pnpm biome:ci

    - name: Build
      run: pnpm build
