name: Generate SBOM
on:
  push:
    branches:
    - dev

permissions:
  contents: write

jobs:
  generate-sbom:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5

      - name: Run Trivy in GitHub SBOM mode and submit results to Dependency Graph
        uses: aquasecurity/trivy-action@0.33.1
        with:
          scan-type: 'fs'
          format: 'github'
          output: 'dependency-results.sbom.json'
          trivy-config: trivy.yaml
          github-pat: ${{ secrets.GITHUB_TOKEN }}
